_obuild/
/www/
*~
\#*\#
/checkpoints
/db-version.txt
/Makefile.database
_opam/
/tzscan-crawler
/tzscan-api-server
/ocp-autoconf.d/configure.ac
/ocp-autoconf.d/config.ocp2inc
/ocp-autoconf.d/ezpg.ocp2inc

/static/local
